@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: vazir;
    src: url("../../public/assets/fonts/Vazir-Medium.woff") format('woff');
}

* {
    font-family: vazir, serif;
}
